div{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnnu6obVk9X7KpF7ddIVK0Xukk7GK5uWC1GA&usqp=CAU');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}